@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Muli');


/* App header */

.app-header {
	height: 150px;
	display:flex;
	justify-content: right;
	align-items: center;
	margin-bottom: 15px;
	background-color: #ef89ae;
	width: 100vw;
	margin-left: calc(-1 * ((100vw - 100%) / 2));
	padding-right: 100px;
}

/* Misc Elements*/

#loading_page {
  position:absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #FFF;
}

/* The info card */
div.ui.card {
  width: 100%;
  height: 100%;
}

/*The Modal*/

.modal-body {
  display: flex;
  justify-content: center;
  padding: 0;
  border-width: 0;
}

.btn {
    color: #FFF;
    background-color: #0a2461;
    border-width: 0;
/*    border-color: #ffa000;
*/}

#upload_event {
    background-color: #0a2461;
/*    border-color: #ffa000;
*/    color: #FFF;
}

/* Drop Down */
.dropdown-menu {
	padding:10px;
}

body {
	padding: 100px;
	padding-top: 0px;
	font-family: 'Muli', cursive;
}

h1.ui.header {
  font-family: 'Josefin Sans', sans-serif;
	font-size: 42px;
	color: #FFF;
	font-weight: bold;
	margin-left: auto;
}

/* ------------------------- */
/*        The Timeline       */
/* ------------------------- */

/* Timeline button */
#timeline button {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    background-color: #0a2461;
    color: #FFF;
    border-width: 0;
    margin-left: 5px;
}

#timeline .vis-panel.vis-bottom {
	font-size: large;
}

#timeline .vis-background .vis-minor.vis-odd {
  background: #FFF;
  border-width: 0px;
}

#timeline .vis-background .vis-minor.vis-even {
  border-width: 0px;
}

/* This is a selected timeline Item */
#timeline .vis-item.vis-selected {
  border-color: #eb76a1;
  background-color: #FFF;
  color: #000;
}

div.ui.horizontal.divider {
	font-size: 2rem;
}

.ui.horizontal.divider i {
	font-size: 2rem;
}


div.vis-timeline.vis-bottom {
	border: 0px;
}

div.vis-item {
    text-align: center;
    color: #FFF;
    border-color: #eb76a1;
    border-width: 1px;
    background-color: #ef89ae;
    font-weight: bold;
}

/* ------------------------- */
/*        The Modal          */
/* ------------------------- */

.ui .card {
	width:100%;
}

div.modal-body {
  padding: 10px;
}

div.extra.content {
  color: #000 !important;
}

div.form-group.shiny-input-container  {
  display: inline-block;
  vertical-align:top;
}

div.extra.content > div {
  width: 100%;
}

#img_preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_preview img {
    max-width: 100%;
    max-height: 100%;
}

/* Coral: ef89ae*/
/* New pink: ef89ae */
/* New pink (darker): eb76a1*/

/* Blue 1: 0a2461*/
/* Blue 2: 0a2461*/
